@model AdminModel

@{
    ViewBag.Title = RoleNames.MODULE_ADMIN;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewHints.HideWiseFooter = true;
}
<div id="adm-wp">
    <div id="adm-wp-ct">
        @{ Html.RenderPartial("_AdminMenu"); }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        window.model = @Html.Raw(Model.ToJson());
        window.model.index = true;
    </script>

    @Scripts.Render("~/Areas/Admin/Content/js/admin")
}