<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <!-- Sql Databases -->
    <add name="Altea" connectionString="Server=tcp:cse9kbmzmk.database.secure.windows.net,1433;Database=altea;User ID=heracles@cse9kbmzmk;Password=5L4cJPh68P9zPYsTARZCPx4k;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Min Pool Size=20;Max Pool Size=50;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="DataWarehouse" connectionString="Server=tcp:i0zafno28q.database.secure.windows.net,1433;Database=alteadata;User ID=heracles@i0zafno28q;Password=sY7fMvZh29JdsZQsEHXX89Mt;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Min Pool Size=20;Max Pool Size=50;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />

    <!-- Graph Databases -->
    <add name="ListRepository" connectionString="https://4aurxwVZsY8QGNf:uEC!=&amp;!cDj=Szv$=A&amp;Vgj!T4t@alteagraph.cloudapp.net:4747/db/data" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />

    <!-- Redis Caches -->
    <add name="RedisCache" connectionString="altea.redis.cache.windows.net:6379,password=VTgeh3gM78MRuCRn4QtQMDtBDogrCl9N+MN7CVoFvDQ=,allowAdmin=true" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <!-- Azure Storage Accounts -->
    <add name="AlteaData" connectionString="DefaultEndpointsProtocol=https;AccountName=alteadata;AccountKey=mknYzmzckRe4wNaRTMil7AKbJQ+sQ/FKb9A7LDhObma+ece3x5NcimKMEDHLHkJHQ1aVKbY3atXuWdPsVGR4PA==" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="private" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>
  
</configuration>
