/*
This is an example of how to use the image sprite in your own CSS files
*/
.mini-user-black {
/* You may have to set 'display: block' */
	width: 20px;
	height: 24px;
	background: url('nav-sprites.png') -10px -10px;
}
.mini-user-white {
/* You may have to set 'display: block' */
	width: 20px;
	height: 24px;
	background: url('nav-sprites.png') -10px -44px;
}
.mini-logout-black {
/* You may have to set 'display: block' */
	width: 20px;
	height: 24px;
	background: url('nav-sprites.png') -10px -78px;
}
.mini-logout-white {
/* You may have to set 'display: block' */
	width: 20px;
	height: 24px;
	background: url('nav-sprites.png') -10px -112px;
}
.mini-search-black {
/* You may have to set 'display: block' */
	width: 24px;
	height: 24px;
	background: url('nav-sprites.png') -10px -146px;
}
.mini-search-white {
/* You may have to set 'display: block' */
	width: 24px;
	height: 24px;
	background: url('nav-sprites.png') -10px -180px;
}
