<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Davalor.Base.Contract.Library" version="2.0.1511.146" targetFramework="net451" />
  <package id="Davalor.Base.Library" version="2.0.1511.146" targetFramework="net451" />
  <package id="Davalor.Base.Messaging.Contracts" version="2.0.1511.146" targetFramework="net451" />
  <package id="Davalor.Base.Security" version="2.0.1511.146" targetFramework="net451" />
  <package id="Microsoft.Hadoop.Avro" version="1.5.6" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.0.1" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.0.1" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
</packages>