<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <!-- Sql Databases -->
    <add name="Altea" connectionString="Server=tcp:cse9kbmzmk.database.secure.windows.net,1433;Database=altea;User ID=atenea@cse9kbmzmk;Password=B4kqLJ4NMawVYT3pfLwhW2pb;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Min Pool Size=20;Max Pool Size=50;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="DataWarehouse" connectionString="Server=tcp:i0zafno28q.database.secure.windows.net,1433;Database=alteadata;User ID=atenea@i0zafno28q;Password=8EgUpMWFPFJZZ47tkQa4zVaa;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Min Pool Size=20;Max Pool Size=50;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />

    <!-- Graph Databases -->
    <add name="ListRepository" connectionString="https://4aurxwVZsY8QGNf:uEC!=&amp;!cDj=Szv$=A&amp;Vgj!T4t@alteagraph.cloudapp.net:4747/db/data" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />

    <!-- Redis Caches -->
    <add name="RedisCache" connectionString="altea.redis.cache.windows.net:6379,password=VTgeh3gM78MRuCRn4QtQMDtBDogrCl9N+MN7CVoFvDQ=,allowAdmin=true" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  
</configuration>
