@{
    ViewBag.Title = RoleNames.MODULE_ADMIN;
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div id="adm-wp">
    <div id="adm-wp-ct" class="adm-wp-ct-sm">
        @{ Html.RenderPartial("_AdminMenu"); }
    </div>
</div>