<div class="stk-vcb stk-lft stk-vcb-3">
    <div class="stk-ctn ctn">
        <div class="stk-frm-ctr">
            <span id="stk-snd" class="stk-bx stk-snd stk-hvr fa fa-volume-up"></span>
        </div>
    </div>
</div>
<div class="stk-vcb stk-rgt stk-vcb-3">
    <div class="stk-ctn ctn">
        <div class="stk-frm-ctr">
            <input id="stk-awr" class="input stk-awr">
        </div>
    </div>
</div>
