<div class="stk-vcb stk-lft stk-vcb-5">
    <div class="stk-ctn ctn">
        <div id="stk-qts" class="stk-frm-ctr"></div>
    </div>
</div>
<div class="stk-vcb stk-rgt stk-vcb-5">
    <div class="stk-ctn ctn">
        <div id="stk-aws" class="stk-frm-ctr"></div>
    </div>
</div>
