<div class="stk-vcb stk-lft stk-vcb-2">
    <div class="stk-ctn ctn">
        <div class="stk-frm-ctr">
            <span id="stk-qst" class="stk-bx stk-dbx"><span></span></span>
        </div>
    </div>
</div>
<div class="stk-vcb stk-rgt stk-vcb-2">
    <div class="stk-ctn ctn">
        <div id="stk-aws" class="stk-frm-ctr"></div>
    </div>
</div>
